#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}