#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}