#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 299px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_1 {
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_1 {
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D6E9C6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D6E9C6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6E9C6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D6E9C6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 1343px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 291px;
  height: 132px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 253px;
  height: 61px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  width: 190px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_16 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 190px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 76px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  width: 201px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_18 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 201px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 82px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  width: 219px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_20 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 219px;
  height: 7px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 92px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 15px;
  height: 5px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 15px;
  height: 5px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_2 {
  border-top-width: 510px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_2 {
  border-top-width: 510px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_3 {
  border-top-width: 510px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_3 {
  border-top-width: 510px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  width: 132px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_5 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_5 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}