#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}