#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc {
  background-color: transparent;
  background-image: none;
  min-width: 1306px;
  min-height: 533px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Group_1 {
  position: absolute;
  top: 49px;
  left: 45px;
  width: 1261px;
  height: 390px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rich_text_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1261px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 15pt;
  font-family: Arial;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 15pt;
  font-style: normal;
  font-weight: 400;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 15pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_1 {
  position: absolute;
  top: 79px;
  left: 360px;
  width: 213px;
  height: 91px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_1 .valign {
  vertical-align: middle;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Group_8 {
  position: absolute;
  top: 149px;
  left: 360px;
  width: 599px;
  height: 43px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 591px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 591px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_5 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_4 {
  position: absolute;
  top: 298px;
  left: 360px;
  width: 213px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_4 .valign {
  vertical-align: middle;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Group_10 {
  position: absolute;
  top: 347px;
  left: 358px;
  width: 599px;
  height: 43px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 591px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 591px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_2 {
  position: absolute;
  top: 249px;
  left: 405px;
  width: 213px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Label_2 .valign {
  vertical-align: middle;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Group_9 {
  position: absolute;
  top: 298px;
  left: 405px;
  width: 599px;
  height: 44px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 591px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 591px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Input_6 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Group_23 {
  position: absolute;
  top: 465px;
  left: 403px;
  width: 601px;
  height: 68px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 601px;
  height: 67px;
  background-color: #F5F5F5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Button_7 {
  position: absolute;
  top: 18px;
  left: 383px;
  width: 110px;
  height: 22px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Button_7 .valign {
  vertical-align: middle;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Button_8 {
  position: absolute;
  top: 18px;
  left: 505px;
  width: 66px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc #s-Button_8 .valign {
  vertical-align: middle;
}
#s-c30aa5bc-dc0b-492d-aa8e-361924ce4fbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}