#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  -ms-transform: rotate(0.0deg);
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Line_1 {
  border-top-width: 399px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Line_1 {
  border-top-width: 399px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Label_58 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 330px;
  height: 62px;
  -ms-transform: rotate(0.0deg);
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Label_60 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 339px;
  height: 66px;
  -ms-transform: rotate(0.0deg);
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}