#s-0b5f925e-5140-4682-b7b1-c2dc1298119c {
  background-color: transparent;
  background-image: none;
  min-width: 1172px;
  min-height: 549px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Group_1 {
  position: absolute;
  top: 75px;
  left: 170px;
  width: 1002px;
  height: 474px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rich_text_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1002px;
  height: 82px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 15pt;
  font-family: Arial;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 15pt;
  font-style: normal;
  font-weight: 400;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 15pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_1 {
  position: absolute;
  top: 95px;
  left: 280px;
  width: 268px;
  height: 85px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_1 .valign {
  vertical-align: middle;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Group_8 {
  position: absolute;
  top: 154px;
  left: 262px;
  width: 519px;
  height: 52px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 511px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 511px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Input_5 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_2 {
  position: absolute;
  top: 213px;
  left: 262px;
  width: 448px;
  height: 85px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #595959;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_2 .valign {
  vertical-align: middle;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_3 {
  position: absolute;
  top: 365px;
  left: 315px;
  width: 364px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Label_3 .valign {
  vertical-align: middle;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Input_1 {
  position: absolute;
  top: 376px;
  left: 277px;
  box-shadow: none;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_4 {
  position: absolute;
  top: 414px;
  left: 262px;
  width: 181px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_4 .valign {
  vertical-align: middle;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Group_9 {
  position: absolute;
  top: 353px;
  left: 432px;
  width: 520px;
  height: 52px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 512px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 512px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Input_6 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_12 {
  position: absolute;
  top: 489px;
  left: 630px;
  width: 155px;
  height: 46px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_12 .valign {
  vertical-align: middle;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_14 {
  position: absolute;
  top: 489px;
  left: 803px;
  width: 136px;
  height: 46px;
  background-color: #5BC0DE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c #s-Button_14 .valign {
  vertical-align: middle;
}
#s-0b5f925e-5140-4682-b7b1-c2dc1298119c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}