#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 593px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Category_1-options {
  background-color: transparent;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 110px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 66px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Rich_text_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  -ms-transform: rotate(0.0deg);
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 593px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Category_2-options {
  background-color: transparent;
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5a0a9db0-fc2c-4f27-a6a6-eb2e99ac3e84 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}