#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d {
  background-color: transparent;
  background-image: none;
  min-width: 1367px;
  min-height: 771px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_1 {
  position: absolute;
  top: 8px;
  left: 309px;
  width: 209px;
  height: 214px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_13 {
  position: absolute;
  top: 65px;
  left: 916px;
  width: 321px;
  height: 37px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 299px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 306px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_2 {
  position: absolute;
  top: 63px;
  left: 14px;
  width: 333px;
  height: 101px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_1 {
  position: absolute;
  top: 226px;
  left: 0px;
  width: 1366px;
  height: 13px;
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_1 {
  position: absolute;
  top: 2px;
  left: -1px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 1343px;
  height: 21px;
  background-color: #DFF0D8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D6E9C6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D6E9C6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6E9C6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D6E9C6;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 14px;
  font-size: 11pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_1 span {
  color: #468847;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #468847;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_1 {
  position: absolute;
  top: 67px;
  left: 16px;
  width: 329px;
  height: 152px;
  display: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 291px;
  height: 132px;
  background-color: #FFFFFF;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/e8cf8609-fc06-4ec4-9359-a0e781881b5b.PNG');
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_1 {
  position: absolute;
  top: 13px;
  left: 21px;
  width: 187px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 17pt;
  font-style: normal;
  font-weight: 700;
  line-height: 17pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_1 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_10 {
  position: absolute;
  top: 61px;
  left: 20px;
  width: 253px;
  height: 61px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_10 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_4 {
  position: absolute;
  top: 66px;
  left: 297px;
  width: 32px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_2 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 19px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_16 {
  position: absolute;
  top: 8px;
  left: 1022px;
  width: 198px;
  height: 169px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_10 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 198px;
  height: 136px;
  display: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_11 {
  position: absolute;
  top: 61px;
  left: 0px;
  padding-left: 15px;
  width: 181px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_11 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_4 {
  position: absolute;
  top: 36px;
  left: 0px;
  padding-left: 15px;
  width: 181px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_4 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_12 {
  position: absolute;
  top: 10px;
  left: 0px;
  padding-left: 15px;
  width: 181px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_12 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_12 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 7px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_16 {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 190px;
  height: 7px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_13 {
  position: absolute;
  top: 87px;
  left: 0px;
  padding-top: 4px;
  padding-left: 15px;
  width: 181px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_13 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_13 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 16px;
  width: 76px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_2 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_11 {
  position: absolute;
  top: 13px;
  left: 74px;
  width: 9px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_17 {
  position: absolute;
  top: 9px;
  left: 916px;
  width: 209px;
  height: 169px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_11 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 209px;
  height: 136px;
  display: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_14 {
  position: absolute;
  top: 61px;
  left: 0px;
  padding-left: 15px;
  width: 192px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_14 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_5 {
  position: absolute;
  top: 36px;
  left: 0px;
  padding-left: 15px;
  width: 192px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_5 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_15 {
  position: absolute;
  top: 10px;
  left: 0px;
  padding-left: 15px;
  width: 192px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_15 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 201px;
  height: 7px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_18 {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 201px;
  height: 7px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_16 {
  position: absolute;
  top: 87px;
  left: 0px;
  padding-top: 4px;
  padding-left: 15px;
  width: 192px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_16 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_16 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 16px;
  width: 82px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_3 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_12 {
  position: absolute;
  top: 13px;
  left: 78px;
  width: 9px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_18 {
  position: absolute;
  top: 9px;
  left: 1124px;
  width: 227px;
  height: 169px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_12 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 227px;
  height: 136px;
  display: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_17 {
  position: absolute;
  top: 61px;
  left: 0px;
  padding-left: 15px;
  width: 210px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_17 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_17 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_6 {
  position: absolute;
  top: 36px;
  left: 0px;
  padding-left: 15px;
  width: 210px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_6 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_18 {
  position: absolute;
  top: 10px;
  left: 0px;
  padding-left: 15px;
  width: 210px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_18 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_18 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 219px;
  height: 7px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 6px 6px 0px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_20 {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 219px;
  height: 7px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  border-radius: 0px 0px 6px 6px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_19 {
  position: absolute;
  top: 87px;
  left: 0px;
  padding-top: 4px;
  padding-left: 15px;
  width: 210px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B5B5B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_19 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_19 input {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 16px;
  width: 92px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_4 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_13 {
  position: absolute;
  top: 13px;
  left: 84px;
  width: 9px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_6 {
  position: absolute;
  top: 6px;
  left: 1218px;
  width: 29px;
  height: 19px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 5px;
  background-color: #5BC0DE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_61 {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 27px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_61 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_7 {
  position: absolute;
  top: 6px;
  left: 994px;
  width: 29px;
  height: 19px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_26 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 5px;
  background-color: #D9534F;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_52 {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 27px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_52 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_2 {
  position: absolute;
  top: 258px;
  left: 964px;
  width: 14px;
  height: 510px;
  border-top-width: 510px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_3 {
  position: absolute;
  top: 261px;
  left: 428px;
  width: 14px;
  height: 510px;
  border-top-width: 510px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_1 {
  position: absolute;
  top: 306px;
  left: 994px;
  padding-left: 5px;
  width: 326px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  min-height: 11pt;
  text-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Input_1 .icon {
  top: 6px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Category_1 td {
  vertical-align: top;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Category_1 {
  position: absolute;
  top: 359px;
  left: 992px;
  padding-left: 5px;
  width: 351px;
  height: 153px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_11 {
  position: absolute;
  top: 533px;
  left: 994px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_11 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_12 {
  position: absolute;
  top: 534px;
  left: 1182px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_12 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Group_2 {
  position: absolute;
  top: 295px;
  left: 458px;
  width: 493px;
  height: 39px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_4 {
  position: absolute;
  top: 38px;
  left: 0px;
  width: 306px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_2 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 132px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 3px 3px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_2 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_3 {
  position: absolute;
  top: 0px;
  left: 151px;
  padding-top: 2px;
  width: 134px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_3 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_4 {
  position: absolute;
  top: 0px;
  left: 323px;
  padding-top: 2px;
  width: 170px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Label_4 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_3 {
  position: absolute;
  top: 267px;
  left: 468px;
  width: 284px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_4 {
  position: absolute;
  top: 270px;
  left: 994px;
  width: 284px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-videos {
  position: absolute;
  top: 352px;
  left: 458px;
  width: 448px;
  height: 395px;
  display: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 448px;
  height: 370px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_13 {
  position: absolute;
  top: 358px;
  left: 10px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_13 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_14 {
  position: absolute;
  top: 358px;
  left: 279px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_14 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-book {
  position: absolute;
  top: 352px;
  left: 458px;
  width: 454px;
  height: 394px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_3 {
  position: absolute;
  top: 7px;
  left: 0px;
  width: 450px;
  height: 352px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_15 {
  position: absolute;
  top: 357px;
  left: 16px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_15 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_16 {
  position: absolute;
  top: 357px;
  left: 285px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_16 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-wb {
  position: absolute;
  top: 350px;
  left: 458px;
  width: 448px;
  height: 396px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 448px;
  height: 360px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_17 {
  position: absolute;
  top: 355px;
  left: 21px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_17 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_18 {
  position: absolute;
  top: 359px;
  left: 274px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_18 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Line_5 {
  position: absolute;
  top: 322px;
  left: 8px;
  width: 416px;
  height: 12px;
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_5 {
  position: absolute;
  top: 281px;
  left: 14px;
  width: 118px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Category_2 td {
  vertical-align: top;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Category_2 {
  position: absolute;
  top: 348px;
  left: 8px;
  padding-left: 5px;
  width: 401px;
  height: 375px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_19 {
  position: absolute;
  top: 275px;
  left: 240px;
  width: 161px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d #s-Button_19 .valign {
  vertical-align: middle;
}
#s-9a5a646f-db85-450e-8bb8-9d6a12edd32d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}