#s-fd4a953a-2ebe-4745-9075-688ce412f17c {
  background-color: transparent;
  background-image: none;
  min-width: 1306px;
  min-height: 683px;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1306px;
  min-width: 1306px;
  min-height: 683px;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_2 {
  position: absolute;
  top: 49px;
  left: 45px;
  width: 1261px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 15pt;
  font-family: Arial;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 15pt;
  font-style: normal;
  font-weight: 400;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 15pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Image_1 {
  position: absolute;
  top: 200px;
  left: 208px;
  width: 400px;
  height: 400px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_1 {
  position: absolute;
  top: 129px;
  left: 355px;
  width: 701px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 18pt;
  font-family: Arial;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Line_1 {
  position: absolute;
  top: 185px;
  left: 638px;
  width: 19px;
  height: 399px;
  border-top-width: 399px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Image_2 {
  position: absolute;
  top: 187px;
  left: 705px;
  width: 385px;
  height: 389px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Label_58 {
  position: absolute;
  top: 605px;
  left: 249px;
  width: 330px;
  height: 62px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Label_58 .valign {
  vertical-align: middle;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Label_60 {
  position: absolute;
  top: 598px;
  left: 710px;
  width: 339px;
  height: 66px;
  background-color: #5BC0DE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: 700;
  line-height: 9pt;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c #s-Label_60 .valign {
  vertical-align: middle;
}
#s-fd4a953a-2ebe-4745-9075-688ce412f17c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}